body {
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
}

.nav {
  height: 53px;
  background-color: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14.5px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_item {
  border-right: 2px dotted black;
  padding-right: 29px;
}
.menu_item:last-of-type {
  padding-right: 0;
  border-right: none;
}
.menu_link {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  color: #FFFFFF;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.menu_link:hover {
  color: #1EACC7;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader .row {
  height: 87px;
}
.subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 19px;
}
.subheader_pfficial {
  margin-top: 6px;
  font-weight: 100;
  font-size: 13px;
  color: #FFFFFF;
  opacity: 0.5;
}
.subheader_call {
  margin-top: 19px;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
}
.subheader_phone {
  display: block;
  margin-top: 6px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.subheader_phone:hover {
  color: #1EACC7;
}
.subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.container {
  text-align: center;
}

.promo {
  padding: 152px 0 185px 0;
  min-height: 800px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
}
.promo_header {
  font-weight: 900;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 55px;
}
.promo_subheader {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 22px;
}
.promo_descr {
  margin-top: 27px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.333;
  color: #FFFFFF;
}
.promo_btn {
  margin-top: 115px;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #1EACC7;
}

.reasons {
  min-height: 718px;
  padding: 20px 0 64px 0;
}
.reasons_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}
.reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 116px;
  height: 116px;
  background-color: #1EACC7;
  border-radius: 100%;
  margin-right: 25px;
  min-width: 116px;
}
.reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  text-align: left;
}
.reasons_text span {
  color: #1eacc7;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  width: 115px;
  height: 27px;
  line-height: 27px;
  background-color: #000;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.label_white {
  background-color: #fff;
  color: #000;
}

.title {
  margin-bottom: 0;
  margin-top: 32px;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
}
.title_white {
  color: #fff;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #222222;
}
.subtitle_white {
  color: #fff;
}

.mobail {
  min-height: 864px;
  padding: 48px 0 80px 0;
  background: url("../img/mobile_bg.jpg") center center/cover no-repeat;
}
.mobail .row {
  margin-top: 30px;
}
.mobail_item {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 280px;
  padding-top: 88px;
  margin-bottom: 19px;
}
.mobail_item_1 {
  background: url("../icon/modail_bg/modail_bg_1.jpg") center center/cover no-repeat;
}
.mobail_item_2 {
  background: url("../icon/modail_bg/modail_bg_2.jpg") center center/cover no-repeat;
}
.mobail_item_3 {
  background: url("../icon/modail_bg/modail_bg_3.jpg") center center/cover no-repeat;
}
.mobail_item_4 {
  background: url("../icon/modail_bg/modail_bg_4.jpg") center center/cover no-repeat;
}
.mobail_item_5 {
  background: url("../icon/modail_bg/modail_bg_5.jpg") center center/cover no-repeat;
}
.mobail_item_6 {
  background: url("../icon/modail_bg/modail_bg_6.jpg") center center/cover no-repeat;
}
.mobail_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #fff;
  text-transform: uppercase;
}
.mobail_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobail_item_plus::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobail_item_plus::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.mobail_item_plus:hover {
  background-color: #1EACC7;
}
.mobail_item_plus:hover::before {
  background-color: #000;
  width: 4px;
  height: 14px;
}
.mobail_item_plus:hover::after {
  background-color: #000;
  width: 14px;
  height: 4px;
}

.promotion {
  min-height: 896px;
  padding: 59px 0 137px 0;
  background: url("../img/promotion_bg.jpg") center center/cover no-repeat;
}
.promotion_img {
  margin-top: 54px;
}
.promotion_descr {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #222222;
}/*# sourceMappingURL=stail.css.map */